---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Adam Baty" description="About Adam Baty" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<head>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nam quam placeat iste accusantium id, totam exercitationem vitae atque ad quas aspernatur vel. Exercitationem aspernatur magnam ad iusto doloremque possimus.</p>
		</head>
		<Footer />
	</body>
</html>
