---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="About Me"
			description="About Adam Baty"
		/>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div>
							<h1 class="title" style="text-align: center">About Me</h1>
						</div>
					</div>
				</div>
				<div class="padding"></div>
				<div class="padding"></div>
				<div class="row">
					<div class="col-md-4">
						<img class="" src="/assets/me-at-horseshoe.jpeg" style="width: 400px; height:auto;" alt="Responsive image">
					</div>
					<div class="col align-self-center">
						<p class="desc">
							Outside of programming, one thing I love is sports. I am a diehard <br>Ohio State, Cleveland Browns, and Oklahoma City Thunder fan!
							<br>This image is of me on midfield in Ohio Stadium (AKA The Horseshoe), <br>Home of Ohio State football.
						</p>
					</div>
				</div>
				<div class="padding"></div>
				<div class="row">
					<div class="col-md-4">
						<img class="" src="/assets/me-in-gardenofthegods.jpeg" style="width: 400px; height:auto;" alt="Responsive image">
					</div>
					<div class="col align-self-center">
						<p class="desc">
							I also love weight training and the outdoors. I have been weight training since college after losing <br>60 pounds after high school, 
							and I fell in love with it. I love the outdoors, hiking, and enjoying <br>peaceful scenery. This image is of me hiking in Garden of the 
							Gods in Colorado Springs, Colorado.
						</p>
					</div>
				</div>
				<div class="padding"></div>
				<div class="row">
					<div class="col-md-4">
						<img class="" src="/assets/me-n-sarah-pikespeak.jpeg" style="width: 400px; height:auto;" alt="Responsive image">
					</div>
					<div class="col align-self-center">
						<p class="desc">
							This is my Girlfriend Sarah. She works as a Job Developer Caseload Assistant at <br>Opportunities for Ohioans with Disabilities, 
							helping people with disabilities enter the workforce.<br>This image is of us on top of Pikes Peak in Colorado.
						</p>
					</div>
				</div>
				<div class="padding"></div>
				<div class="row">
					<div class="col-md-4">
						<img class="" src="/assets/mello.jpeg" style="width: 400px; height:auto;" alt="Responsive image">
					</div>
					<div class="col align-self-center">
						<p class="desc">
							This is our cat Marshmello. She is Siamese, and she is the goofiest cat I know. She loves to scratch <br>everything, 
							look at birds out the window, and of course she loves hats.
						</p>
					</div>
				</div>
			</div>
		</header>
		<Footer />
	</body>
</html>
