---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Adam Baty"
			description="Contact Adam Baty"
		/>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">Contact</h1>
				<div class="padding"></div>
				<p class="desc">Phone: (419)575-4009</p>
				<div class="padding"></div>
				<p class="desc">Email: adambaty@outlook.com</p>
				<div class="padding"></div>
				<p class="desc">LinkedIn: <a href="https://www.linkedin.com/in/adambaty/" target="_blank">linkedin.com/in/adambaty/</a></p>
				<div class="padding"></div>
				<p class="desc">GitHub: <a href="https://github.com/madbaty" target="_blank">github.com/madbaty</a></p>
			</div>
		</header>
		<Footer />
	</body>
</html>
