---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Adam Baty"
			description="Adam Baty: Software Engineer..."
		/>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div>
							<h1 class="title" style="text-align: center;">Adam Baty</h1>
							<h2 class="subtitle" style="text-align: center;">Software Engineer</h2>
							<p class="desc" style="text-align: center;">
								Motivated Software Engineer with over 2 years of experience, looking to build upon it and take on new challenges. I am passionate about the 
								<br>software engineering field because the technology is always changing which gives me a chance to learn and grow my whole career.
							</p>
						</div>
					</div>
				</div>
				<div class="padding"></div>
				<div class="padding"></div>
				<div class="container">
					<div class="row">
						<div>
							<img class="mx-auto d-block" src="/assets/me-n-sarah-indianrun.jpeg" style="width: 600px; height:auto;" alt="Responsive image">
							<p class="desc-center">My girlfriend Sarah and I at Indian Run Falls State Park in Columbus, OH</p>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay"></div>
		</header>
		<Footer />
	</body>
</html>
