---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Adam Baty"
			description="Adam Baty: Software Engineer..."
		/>
		<style>
			.wrapper {
				margin-top: 2em;
				margin-bottom: 2em;
			}

			.hero {
				position: relative;
				overflow: hidden;
				background-color: black;
			}

			@media (min-width: 750px) {
				.hero {
					height: 45vw;
					background-color: black;
				}
			}

			.img {
				display: flex;
				width: 100%;
				height: auto;
			}

			.gradient,
			.gradient2 {
				background-image: url('/assets/261451-4174959663.jpg');
				background-size: cover;
				pointer-events: none;
				mix-blend-mode: screen;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.gradient2 {
				mix-blend-mode: multiply;
				background-size: cover;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: left ;
				padding-top: 8rem;
				padding-left: 2rem;
			}

			@media (min-width: 750px) {
				.overlay {
					padding-left: 4rem;
				}
			}

			.title {
				font-weight: 900;
				font-size: var(--f-u6);
				margin-bottom: 0.5rem;
				margin-top: 0;
			}

			@media (min-width: 750px) {
				.title {
					font-size: var(--f-u12);
					color: rgb(128, 128, 128);
				}
			}

			.grid {
				display: none;
				grid-gap: 0rem;
			}

			@media (min-width: 1200px) {
				.grid {
					grid-template-columns: 2fr 1fr;
				}
			}

			.invert {
				position: absolute;
				color: var(--t-fg);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
				transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
			}

			.desc {
				font-size: var(--f-u1);
				margin-top: 1.5rem;
				margin-bottom: 0;
				color: rgb(128, 128, 128);
			}

			.subtitle {
				font-size: var(--f-u6);
				margin-top: 1.5rem;
				margin-bottom: 0;
				color: rgb(128, 128, 128);
			}

			.bio {
				line-height: 2;
				margin-bottom: 2rem;
			}

			.bio > span:first-of-type {
				line-height: 1;
				margin-bottom: 0.5em;
				display: block;
				font-weight: 700;
				font-size: var(--f-u4);
			}

			.buttonContainer {
				text-align: center;
				margin-top: 2em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">Adam Baty</h1>
				<h2 class="subtitle">Software Engineer</h2>
				<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nihil iste soluta modi rem, officiis exercitationem ipsam doloribus assumenda iure ea nesciunt.</p>
			</div>
		</header>
		<Footer />
	</body>
</html>
