---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Adam Baty"
			description="Adam Baty: Software Engineer..."
		/>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">Projects</h1>
					<h2 class="subtitle">Huntington Cloud Infrastructure (Huntington National Bank)</h2>
						<p class="desc"> - Built out cloud infrastructure for the retail microservices to migrate their data to the cloud.</p>
						<p class="desc"> - Worked in an agile team to configure infrastructure in Google Cloud Platform using Terraform.</p>
						<p class="desc"> - Stack: Terraform, Google Cloud Platform, Azure Pipelines (CI/CD), Azure DevOps (For version control and agile workflow)</p>
					<h2 class="subtitle">Huntington.com Banking Hub - Standby Cash (Huntington National Bank)</h2>
						<p class="desc"> - Worked with the Huntington Standby Cash Software Development team on the Retail Online application to build out Standby Cash within the customer-facing website.</p>
						<p class="desc"> - Worked in an Agile environment to call backend microservices, develop and test code to build out the front-end of the new Standby Cash feature on Huntington's website.</p>
						<p class="desc"> - Stack: C#, ASP.NET Razor, HTML, CSS, Javascript, Azure DevOps (For version control and agile workflow)</p>
					<h2 class="subtitle">ADOChomper (Huntington National Bank)</h2>
						<p class="desc"> - Web app for Azure DevOps administrators to more easily interact with Azure DevOps to create teams within a project, add users to teams, update picklists in a work item template, and other various uses.</p>
						<p class="desc"> - Used ASP.NET Razor to call the Azure DevOps API and use forms to update the ADO Project. Migrated the api calls from on prem ADO to cloud-based ADO when the company switched to cloud. Deployed to IIS Server.</p>
						<p class="desc"> - Stack: C#, ASP.NET Razor, Azure DevOps API</p>
					<h2 class="subtitle">Telemetry Admin Portal (Cooper Tire)</h2>
						<p class="desc"> - Web app for administrators to easily view telemetry data regarding users of an Anaconda application.</p>
						<p class="desc"> - Used SQL Queries integrated in the Python code to gather data and display it in a readable manner.</p>
						<p class="desc"> - Stack: Python, Flask, SQL</p>
			</div>
			<div class="overlay"></div>
		</header>
		<Footer />
	</body>
</html>
