---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Resume"
			description="Resume for Adam Baty"
		/>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<a class="btn btn-secondary btn-lg btn-block float-right" href='../public/files/ResumeAdamBaty.pdf' target="_blank">View PDF</a>
				<div class="padding"></div>
				<h1 class="title">
					Resume
				</h1>
				<h1 class="title2">
					<small>Adam Baty</small>
				</h1>
				<h2 class="subtitle">
					Profile:
				</h2>
				<div class="padding"></div>
				<p class="desc-no-margin">
					Software Engineer with over 2 years of hands-on experience in software development, devops, and cloud infrastructure. <br>
					Specializing in web development using C# with the ASP.NET Razor framework, and Python with the Flask framework. <br>
					Motivated learner who looks at new challenges as an opportunity for growth.
				</p>
				<h2 class="subtitle">
					Skills:
				</h2>
				<div class="padding"></div>
				<li class="list">
					Python
				</li>
				<li class="list">
					Flask
				</li>
				<li class="list">
					C#
				</li>
				<li class="list">
					ASP.NET Razor
				</li>
				<li class="list">
					Azure DevOps
				</li>
				<li class="list">
					Git
				</li>
				<li class="list">
					Terraform
				</li>
				<li class="list">
					CI/CD
				</li>
				<li class="list">
					Google Cloud Platform
				</li>
				<h2 class="subtitle">
					Experience:
				</h2>
				<h3 class="resume-company">
					<div class="padding"></div>
					<b>Huntington National Bank | Columbus, OH</b>
				</h3>
				<h3 class="resume-title">
					<b>Software Engineer</b>
				</h3>
				<h3 class="resume-title">
					<b>January 2021 - September 2022</b>
				</h3>
				<li class="list">
					Web development for the customer-facing web application using C#/ASP.NET Razor
				</li>
				<li class="list">
					Configuring CI/CD pipelines in Azure DevOps with YAML
				</li>
				<li class="list">
					Terraform for infrastructure automation in Google Cloud Platform
				</li>
				<h3 class="resume-company">
					<div class="padding"></div>
					<b>Cooper Tire and Rubber Company | Findlay, OH</b>
				</h3>
				<h3 class="resume-title">
					<b>Software Development Co-Op</b>
				</h3>
				<h3 class="resume-title">
					<b>August 2020 - January 2021</b>
				</h3>
				<li class="list">
					Developed a web page for administrators to easily access telemetry data from scratch using Python's Flask framework
				</li>
				<li class="list">
					Worked with 2 mentors to learn while developing applications
				</li>
				<li class="list"> 
					Tech stack was primarily, Python, Flask, SQL (SQL Server)
				</li>
				<h3 class="resume-company">
					<div class="padding"></div>
					<b>Bowling Green State University | Bowling Green, OH</b>
				</h3>
				<h3 class="resume-title">
					<b>Classroom Technician - Information Technology Services</b>
				</h3>
				<h3 class="resume-title">
					<b>May 2017 - August 2020</b>
				</h3>
				<li class="list">
					Maintain and repair audio/visual equipment in the classrooms
				</li>
				<li class="list">
					Provide quality customer service and training to instructors
				</li>
				<li class="list"> 
					Responsible for scheduling tasks, leading, and motivating student employees
				</li>
				<h2 class="subtitle">
					Education:
				</h2>
				<h3 class="resume-company">
					<div class="padding"></div>
					<b>Bowling Green State University | Bowling Green, OH</b>
				</h3>
				<h3 class="resume-title">
					<b>Bachelor’s Degree, Computer Science - Business Systems</b>
				</h3>
				<h3 class="resume-title">
					<b>December 2020</b>
				</h3>
			</div>
		</header>
		<Footer />
	</body>
</html>
